<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header') %>

        <section class="about-section">
            <div class="profile-image">
                <img src="/images/Yashar.jpg" alt="Your Name">
            </div>
            <div class="about-content">
                <h1>About Me</h1>
                <p>I am a Software Developer with foundational knowledge in Python, C#, JavaScript, SQL, Java, MongoDB,
                    and more. I have experience in developing and designing websites using HTML and CSS and am familiar
                    with tools including GitHub, Jira, and VS Code.</p>
                <p>Email: <a href="mailto:yghasempour1@gmail.com">yghasempour1@gmail.com</a></p>
                <p>Location: Toronto, ON</p>
                <p><a href="/Yashar Ghasempour Resume.pdf" target="_blank">View My Resume (PDF)</a></p>
            </div>
        </section>
        <%- include('partials/footer') %>

</body>

</html>