<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highlighted Projects</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header') %>

        <section class="projects-section">
            <h2>Academic Projects</h2>
            <div class="project">
                <h3>Web Design</h3>
                <p>Designed a responsive, user-oriented marketing website for a real estate agent to showcase properties
                    for sale, utilizing CSS, HTML, and JavaScript.</p>
            </div>
            <div class="project">
                <h3>Software Requirements Specification</h3>
                <p>Collaborated on planning an SRS document for a mobile app, employing Agile methodology and Jira
                    within a team.</p>
            </div>
            <div class="project">
                <h3>Calculator Application</h3>
                <p>Developed a calculator with C# that allows users to operate mathematical operations on fractions,
                    applying the fundamentals of object-oriented programming.</p>
            </div>
        </section>

        <%- include('partials/footer') %>
</body>

</html>