<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Including header partials for modularity and easy maintenance -->
    <%- include('partials/header') %>

        <!-- Services Section -->
        <section class="services-section">
            <h2>Services</h2>
            <div class="service">
                <h3>Software Development</h3>
                <p>Experienced in multiple languages including Python, C#, and Java, capable of creating efficient and
                    effective software solutions.</p>
            </div>
            <div class="service">
                <h3>Web Design & Development</h3>
                <p>Skilled in developing and designing user-oriented websites using HTML, CSS, and JavaScript.</p>
            </div>
            <div class="service">
                <h3>IT Technical Support</h3>
                <p>Provided technical support and resolved hardware and software issues, ensuring optimal computer
                    system performance.</p>
            </div>
        </section>
        <%- include('partials/footer') %>
</body>

</html>