<footer>
    <div class="footer-container">
        <div class="footer-info">
            <p>Yashar Ghasempour</p>
            <p>100 Bonnyview Dr., Toronto, ON M8Y 3G6</p>
            <p>Email: <a href="mailto:yghasempour1@gmail.com">yghasempour1@gmail.com</a></p>
            <p>Phone: 647-829-0289</p>
        </div>
        <div class="footer-links">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-copyright">
            <p>© 2023 Yashar Ghasempour. All Rights Reserved.</p>
        </div>
    </div>
</footer>