<header role="banner">
    <nav role="navigation">
        <div class="logo">

            <img src="/images/logo.png" alt="Company Logo" title="Company Name">
        </div>
        <ul>
            <li><a href="/" aria-current="page">Home</a></li>

            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>
</header>